<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcm.dao.PmsBaseCatalong3Mapper">
  <resultMap id="BaseResultMap" type="com.zcm.bean.PmsBaseCatalong3">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="catalog2_id" jdbcType="INTEGER" property="catalog2Id" />
  </resultMap>
  <sql id="Base_Column_List">
    id, NAME, catalog2_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pms_base_catalog3
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pms_base_catalog3
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zcm.bean.PmsBaseCatalong3">
    insert into pms_base_catalog3 (id, NAME, catalog2_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{catalog2Id,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zcm.bean.PmsBaseCatalong3">
    insert into pms_base_catalog3
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="catalog2Id != null">
        catalog2_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="catalog2Id != null">
        #{catalog2Id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zcm.bean.PmsBaseCatalong3">
    update pms_base_catalog3
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="catalog2Id != null">
        catalog2_id = #{catalog2Id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcm.bean.PmsBaseCatalong3">
    update pms_base_catalog3
    set NAME = #{name,jdbcType=VARCHAR},
      catalog2_id = #{catalog2Id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--获取三级分类-->
  <select id="getPmsBaseCatalogs3List" parameterType="java.lang.Integer"
          resultType="com.zcm.bean.PmsBaseCatalong3">
select
    id, NAME
    from pms_base_catalog3
    where catalog2_id=#{id2}
  </select>
</mapper>
