<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcm.dao.PmsProductSaleAttrValueMapper">
  <resultMap id="BaseResultMap" type="com.zcm.bean.PmsProductSaleAttrValue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sale_attr_id" jdbcType="INTEGER" property="saleAttrId" />
    <result column="sale_attr_value_name" jdbcType="VARCHAR" property="saleAttrValueName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, sale_attr_id, sale_attr_value_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pms_product_sale_attr_value
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pms_product_sale_attr_value
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zcm.bean.PmsProductSaleAttrValue">
    insert into pms_product_sale_attr_value (id, product_id, sale_attr_id,
      sale_attr_value_name)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{saleAttrId,jdbcType=INTEGER},
      #{saleAttrValueName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zcm.bean.PmsProductSaleAttrValue">
    insert into pms_product_sale_attr_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="saleAttrId != null">
        sale_attr_id,
      </if>
      <if test="saleAttrValueName != null">
        sale_attr_value_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="saleAttrId != null">
        #{saleAttrId,jdbcType=INTEGER},
      </if>
      <if test="saleAttrValueName != null">
        #{saleAttrValueName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zcm.bean.PmsProductSaleAttrValue">
    update pms_product_sale_attr_value
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="saleAttrId != null">
        sale_attr_id = #{saleAttrId,jdbcType=INTEGER},
      </if>
      <if test="saleAttrValueName != null">
        sale_attr_value_name = #{saleAttrValueName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcm.bean.PmsProductSaleAttrValue">
    update pms_product_sale_attr_value
    set product_id = #{productId,jdbcType=INTEGER},
      sale_attr_id = #{saleAttrId,jdbcType=INTEGER},
      sale_attr_value_name = #{saleAttrValueName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--批量插入-->
  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into pms_product_sale_attr_value (id, product_id, sale_attr_id,
      sale_attr_value_name) values
      <foreach collection="list" item="item" index="index" separator=",">
        (
        #{item.id},
        #{item.productId},
        #{item.saleAttrId},
        #{item.saleAttrValueName}
        )
      </foreach>
  </insert>
  <!--销售属性值-->
  <select id="selectPmsProductSaleAttrValue"
          resultType="com.zcm.bean.PmsProductSaleAttrValue">
    select id, product_id productId, sale_attr_id saleAttrId,
    sale_attr_value_name saleAttrValueName
    from pms_product_sale_attr_value
    where product_id=#{productId} and sale_attr_id=#{saleId}
  </select>
</mapper>
